<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <security-constraint>
    <display-name></display-name>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
  </security-constraint>
  <context-param>
    <param-name>students.file.path</param-name>
    <param-value>C:\Users\User-PC\git\ibaJavaProj\src\main\resources\students.csv</param-value>
  </context-param>
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>by.iba.student.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>by.iba.student.web.ApplicationContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>ResponseFilter</filter-name>
    <filter-class>by.iba.student.web.filter.ResponseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResponseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>by.iba.student.web.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>100</session-timeout>
  </session-config>
</web-app>